.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center center;
    min-height: 740px;
    background-repeat: no-repeat;
    background-size: calc(100% - 2*48px);
}