.place__website {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    row-gap: 12px;
}

@media screen and (max-width:767px) {
    .place__website {
        padding: 0 16px;
    }
}